<section class="contacts">
    <div class="container">
        <a href="" class="link logo-link">mimiho</a>
        <h3 class="contacts__title">Ресторанно-готельний
            комплекс</h3>
            <ul class="list contacts-list">
                <li class="contacts-item">
                    <p>Ресторан</p>
                    <a href="tel:+380955559533" class="link">095 555 95 33</a>
                </li>
                <li class="contacts-item">
                    <p>Готель</p>
                    <a href="tel:+380668491089" class="link">066 849 10 89</a>
                    <a href="tel:+380672758540" class="link">067 275 85 40</a>
                <li class="contacts-item">
                    <address>
                        <a href="">Україна, м. Полтава,
                            вул. Маршала Бірюзова, 15</a>
                    </address>

                </li>
            </ul>
    </div>
</section>